// breadcrumb start
ul.breadcrumb
    li.breadcrumb__el
        a(href='/') Главная
    //li.breadcrumb__el
    //    a(href='/news.html') Новости
    // repeat
    li.breadcrumb__el
        a(href='/') Обрати секцію
    li.breadcrumb__el
        span Обрати секцію
// breadcrumb end