a(href='/').footer__logo
	img(src='wp-content/themes/pokrovsky/assets/images/icon/logo.svg')
a(href='#').footer__developer
	img(src='wp-content/themes/pokrovsky/assets/images/icon/developer.svg')
a(href='https://smarto.agency/').footer__smarto
	+svg('smarto')
.form__loader
	.lds-spinner
		div
		div
		div
		div
		div
		div
		div
		div
		div
		div
		div
		div



	//.footer-bottom__copy
	//	p © 2008-2019 Все права защищены.
	//.footer__link--wrap
	//	span Розработка сайта
	//	a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer-bottom__link
	//		+svg('smarto')
			//img(src='./assets/images/smarto.svg' alt="" title="")