.menu.js-menu.no-scroll
    // левый список (у всех класс .menu__link-title)
    .menu__house
        img(src='wp-content/themes/pokrovsky/assets/images/main/house.svg')
    .menu__list-wrap
        ul.menu__list
            li.menu__elem.menu__elem-title
                a(href='#').menu__link Головна
            li.menu__elem.menu__elem-title
                a(href='/about').menu__link Про Pokrovsky
            li.menu__elem.menu__elem-title
                a(href='/builder').menu__link Девелопер
            li.menu__elem.menu__elem-title
                a(href='/news').menu__link Головна
            li.menu__elem.menu__elem-title
                a(href='https://frontvisual.com/web3d/renome/?fbclid=IwAR3nd1g8Au4NCgI10bjTZCgVfd_-GRu1QqPUO1I7Mj0NG1PhTgFhdgbVeWs').menu__link Розташування
            li.menu__elem.menu__elem-title
                a(href='/contacts').menu__link Контакти
        ul.menu__list
            li.menu__title Про комплекс
            li.menu__elem
                a(href='/about').menu__link Філософія проєкту
            li.menu__elem
                a(href='/about').menu__link Зручності
            li.menu__elem
                a(href='/about').menu__link Документи
            li.menu__elem
                a(href='/view').menu__link Вигляд
            li.menu__elem
                a(href='/construction').menu__link Хід будівництва
            li.menu__elem
                a(href='/about').menu__link Iнфраструктура
        ul.menu__list
            li.menu__title Квартири
            li.menu__elem
                a(href='/about').menu__link Вибор на планi поверху
            li.menu__elem
                a(href='/about').menu__link Обрати за параметрами
            li.menu__elem
                a(href='/about').menu__link 1-Кімнатні
            li.menu__elem
                a(href='/about').menu__link 2-Кімнатні
            li.menu__elem
                a(href='/about').menu__link 3-Кімнатні
            li.menu__elem
                a(href='/about').menu__link Комерційна нерухомість