extends ../layout/main
block variable

block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="/wp-content/themes/pokrovsky/assets/styles/main.min.css")
    //link(rel='stylesheet', href="/wp-content/themes/pokrovsky/static/base.css")
block scripts
    script(src='/wp-content/themes/pokrovsky/assets/scripts/libs.js')
    //script(src='/wp-content/themes/pokrovsky/assets/scripts/scroll.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/snap.svg.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/news.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/index.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/libs/vendors.bundle.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/libs/news.bundle.js')
    script(src='/wp-content/themes/pokrovsky/assets/scripts/libs/menu.bundle.js')



block content
    section.news
        include includes/breadcrumb
        h1.title  Новини
        .news__content
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
            a(href='/single-news/').news__el.js-news__el
                .news__date
                    +svg('date').news__date-icon
                    | 22 Червня 2020
                .news__name Філософія команди РЕНОМЕ об'єднує передові технології та багаторічний досвід заради ефективного та якісного результату.
                .news__button.button-hover Дивитися <br > новину
                    .bg-small-left
                        include ../../static/small-house.php
        .pagination.js-pagination
            .pagination__arrow.pagination__arrow--left( disabled data-page="prev")
                svg( width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg")
                    path( fill-rule="evenodd" clip-rule="evenodd" d="M5.99999 12.0001L7 11.0001L1.99992 6.00002L6.99993 1.00001L5.99993 -4.37146e-08L-0.000110412 6.00004L0.999896 7.00004L0.999913 7.00003L5.99999 12.0001Z")
            ul.dots
                li.dots__element.active( data-page="1") 1
                li.dots__element( data-page="2") 2
                li.dots__element( data-page="3") 3
                li.dots__element( data-page="4") 4
                li.dots__element( data-page="5") 5
            .pagination__arrow.pagination__arrow--right(data-page="next")
                svg( width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg")
                    path( fill-rule="evenodd" clip-rule="evenodd" d="M5.99999 12.0001L7 11.0001L1.99992 6.00002L6.99993 1.00001L5.99993 -4.37146e-08L-0.000110412 6.00004L0.999896 7.00004L0.999913 7.00003L5.99999 12.0001Z")


block footer
    footer.footer.footer__small
        include ../includes/menu
        include ../includes/footer
    // include ../pages/includes/forms

block header
    header.header.header-bg-blue
        include ../includes/header.pug