.contact{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 100vh;
  background: url("../images/menu.jpg")no-repeat center/ cover;
  &__maps{
    position: relative;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 90%;
    max-width: 1550px;
    margin: 0 auto;
  }
  &__maps{
    //margin-bottom: 30px;
    margin: 0 50px 30px 0;
    img{
      height: 100%;
      width: 100%;
    }
  }
  &__info{
    padding-top: 80px;
    //margin-top: -90px;
    //margin-bottom: 30px;
    margin: -90px 20px 30px 0;
  }
  &__forms{
    position: relative;
    //margin-top: -90px;
    //margin-bottom: 30px;
    margin: -90px 0 30px;
  }
  .info{
    &__list{
      padding: 0 10px 0 50px;
    }
    &__el{
      font-family: $default-font;
      font-weight: 500;
      color: #EAF1FF;
      margin-bottom: 1em;
    }
    &__title{
      font-size: min(vw(24), 24px);
      line-height: 1.6em;
    }
    &__text{
      font-size: min(vw(18), 18px);
      line-height: 1.8em;
    }
    &__icon{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0.5em;
        left: -40px;
        transform: translate(0, -50%);
        display: inline-block;
        width: 22px;
        height: 22px;
      }
    }
    &__locate:before{
      background: url('../images/contact/locate.svg') no-repeat center /contain;
    }
    &__address:before{
      background: url('../images/contact/address.svg') no-repeat center /contain;
    }
    &__time:before{
      background: url('../images/contact/time.svg') no-repeat center /contain;
    }
    &__mail:before{
      background: url('../images/contact/mail.svg') no-repeat center /contain;
    }
    &__phone:before{
      background: url('../images/contact/phone.svg') no-repeat center /contain;
    }
  }
}


.form{
  display: flex;
  flex-direction: column;
  padding: 85px 70px 10px;
  border-left: 7px solid #EAF1FF;
  border-right: 7px solid #EAF1FF;
  clip-path: polygon(0 70px,100% 0,100% 100%,0 100%, 0 70px);
  &::-webkit-scrollbar{
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
  &::-webkit-scrollbar-thumb{
    background: #D7DDEA;
    -webkit-box-shadow:none;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #D7DDEA;
  }

  &::selection {
    background-color: #D7DDEA;
    color: #D7DDEA;
  }
  &__group{
    display: flex;
    flex-direction: column;
  }
  &__title{
    font-family: $default-font;
    font-weight: 500;
    font-size: min(vw(36), 36px);
    line-height: lh(48,36);
    letter-spacing: 0.02em;
    color: #EAF1FF;
    margin-bottom: 40px;
  }
  &__label{
    position: relative;
  }
  &__input{
    display: inline-block;
    width: 100%;
    height: 45px;

    font-family: $default-font;
    font-weight: 500;
    font-size: min(vw(24), 24px);
    line-height: 1em;
    color: #EAF1FF;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #61AFAA;
    padding: 0 0 20px;
    margin-bottom: 40px;
    &::-webkit-scrollbar{
      width: 0;
    }
    &::placeholder{
      font-family: $default-font;
      font-weight: 500;
      font-size: 1em;
      line-height: 1em;
      color: #EAF1FF;
    }
  }
  &__error{
    position: absolute;
    bottom: 45px;
    left: 0;
    font-family: $default-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 1em;
    color: #e46f46;
  }
  &__submit{
    position: relative;
    font-family: $default-font;
    font-weight: 500;
    font-size: min(vw(24), 24px);
    line-height: 1em;
    text-align: center;
    color: #EAF1FF;
    background: transparent;
    border: none;
    padding: 40px 0;
    margin: 0 var(--mrgn-button) 0 auto;
    z-index: 1;
  }
}

@media screen and (max-width: 1440px){
  .contact{
    &__wrap{
      width: 75%;
      justify-content: space-around;
    }
    &__forms{
      margin: auto 0;
    }
    &__info{
      margin: auto 0;
      padding: 0;
    }
    &__maps{
      width: 290px;
    }
    .info__title{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }
    .info__text{
      font-size: 14px;
      line-height: 24px;
    }

  }
  .form{
    padding: 40px 30px 0;
    border-width: 4px;
    clip-path: polygon(0 45px, 100% 0, 100% 100%, 0 100%, 0 45px);
    &__title{
      font-size: 30px;
      line-height: lh(42,30);
      margin-bottom: 25px;
    }
    &__input{
      padding: 0 0 8px;
      margin: 0 0 20px;
      font-size: 18px;
      height: 28px;
    }
    &__submit{
      font-size: 18px;
      padding: 20px 0;
    }
  }
}

@media screen and (max-width: 1023px){
  .contact{
    padding: 0 0 110px;
    &__wrap{
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0 80px;
    }
    &__maps{
      width: calc(50% - 10px);
      margin: 0 20px 0 0;
    }
    &__forms{
      width: calc(50% - 10px);
    }
    &__info{
      order: 2;
      width: 100%;
      margin: 20px 0 0;
      column-count: 2;
    }
  }
  .info__el{
    break-inside: avoid;
  }
}

@media screen and (max-width: 767px){
  .contact{
    padding: 0 0 110px;
    &__wrap{
      justify-content: center;
      max-width: 450px;
      margin: 0 auto;
      padding: 0 15px;
    }
    &__maps{
      width: calc(100% - 40px);
      margin: 0 20px;
    }
    &__forms{
      margin: 20px 0 0;
      width: calc(100% - 40px);
    }
    &__info{
      margin: 20px 0 0;
      column-count: 1;
    }
    .info__text{

    }
    .info__list{
      padding: 0 10px 0 30px;
    }
    .info__icon:before{
      left: -30px;
      height: 20px;
      width: 20px;
    }
  }
  .form{
    padding: 40px 15px 0;
    border-width: 2px;
    &__title{
      font-size: 24px;
      line-height: lh(30,24);
      margin-bottom: 15px;
    }
    &__input{
      margin: 0 0 10px;
      font-size: 16px;
    }
    &__submit{
      font-size: 16px;
      padding: 20px 0 15px;
    }
  }
}